altair
argcomplete
asgiref
asttokens
attrs
autocorrect
backcall
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
chardet
click
colorama
commonmark
compressed-rtf
comtypes
confection
contourpy
cryptography
cycler
cymem
Cython
decorator
deprecation
distro
Django
docx2pdf
docx2txt
easyocr
ebcdic
entrypoints
et-xmlfile
executing
extract-msg
filelock
fonttools
gensim
gitdb
GitPython
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
image
imageio
IMAPClient
img2pdf
importlib-metadata
imutils
ipython
jedi
Jinja2
joblib
jsonschema
keras
kiwisolver
langcodes
libretranslatepy
lxml
MarkupSafe
matplotlib
matplotlib-inline
murmurhash
networkx
ninja
nltk
numpy
olefile
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
openpyxl
packaging
pandas
parso
pathy
pdf2image
pdfminer.six
pickleshare
pikepdf
Pillow
pip
preshed
prompt-toolkit
protobuf
pure-eval
pyarrow
pyclipper
pycparser
pycryptodome
pydantic
pydeck
Pygments
Pympler
PyMuPDF
pyparsing
PyPDF2
pyrsistent
pytesseract
python-bidi  
python-dateutil
python-pptx
pyttsx3
pytz
PyWavelets 
PyYAML
regex
requests
rfc3986
rich
scikit-image
scikit-learn
scipy
semver
setuptools
Shapely
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
streamlit
summarization
textblob
textract
thinc
threadpoolctl
tifffile    
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
tzlocal
urllib3
vaderSentiment
validators
wasabi
watchdog
wcwidth
wheel
xlrd
XlsxWriter
zipp
